.button {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 25vmax;
    height: 25vmax;
    border: 1vmin solid black;
    border-radius: 45%;
    user-select: none;
    transition-duration: 0.5s;
	transition: top, left;
    box-shadow: 2vmax 2vmax black;
    background: red;
}