@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin ui {
	position: absolute;
	background-color: rgb(199, 199, 199);
	width: 20vmax;
	height: 10vmin;
	border: 0.75vmin solid black;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	font-size: 3.5rem;
	font-family: "Poppins", sans-serif;
}

.button {
	position: absolute;
	display: flex;
	top: 50vh;
	left: 50vw;
	justify-content: center;
	align-items: center;
	font-size: 13vmin;
	transform: translate(-50%, -50%);
	width: 50vmin;
	height: 50vmin;
	border: 1vmax solid black;
	border-radius: 45%;
	user-select: none;
	transition-duration: 0.5s;
	transition: top, left;
	box-shadow: 2vmax 2vmax black;
	background: red;
	cursor: pointer;
}

.button:active {
	box-shadow: 1vmax 1vmax black;
	top: calc(50vh + 1vmax);
	left: calc(50svw + 1vmax);
}

.press {
	box-shadow: 1vmax 1vmax black;
	position: absolute;
	top: calc(50vh + 1vmax);
	left: calc(50vw + 1vmax);
}

.settings {
	@include ui;

	top: 1vmin;
	right: 1vmin;

	cursor: pointer;
}

.count {
	@include ui;

	top: 15vmin;
	right: 1vmin;
}

.save {
	@include ui;

	top: 1vmin;
	left: 1vmin;

	cursor: pointer;
}

.clear {
	@include ui;

	top: 15vmin;
	left: 1vmin;

	cursor: pointer;
}

@media (orientation: portrait) {
    .container {
		font-size: 1rem;
	}
}